{% extends 'base.html.twig' %}

{% block title %}Journal List{% endblock %}

{% block pageheader %}
    <h1>Journal List</h1>
    <p class="count">
        Displaying {{ journals|length }} journals of {{ journals.getTotalItemCount }} total.
    </p>
 {% endblock %} 

{% block body %}

        <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('journal_new') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> New
            </a>
            {% endif %}
            <a href="{{ path('journal_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>
        
    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Uuid</th>
                <th>Contacted</th>
                <th>Ojs Version</th>
                <th>Notified</th>
                <th>Title</th>
                <th>Issn</th>
                <th>Url</th>
                <th>Status</th>
                <th>Terms Accepted</th>
                <th>Email</th>
                <th>Publisher Name</th>
                <th>Publisher Url</th>
                </tr>
        </thead>
        <tbody>
        {% for journal in journals %}
            <tr>
                <td>
                    <a href="{{ path('journal_show', { 'id': journal.id }) }}">
                        {{ journal.uuid }}
                    </a>
                </td>
                <td>{% if journal.contacted %}{{ journal.contacted|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ journal.ojsVersion }}</td>
                <td>{% if journal.notified %}{{ journal.notified|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ journal.title }}</td>
                <td>{{ journal.issn }}</td>
                <td>{{ journal.url }}</td>
                <td>{{ journal.status }}</td>
                <td>{% if journal.termsAccepted %}Yes{% else %}No{% endif %}</td>
                <td>{{ journal.email }}</td>
                <td>{{ journal.publisherName }}</td>
                <td>{{ journal.publisherUrl }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
    <div class="navigation">
        {{ knp_pagination_render(journals) }}
    </div>

{% endblock %}
